@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';;
@import './badge.scss';
@import './pcoded.css';
@import './pagination.scss';
@import './radio-checkbox.scss';
.hgExam  .el-dialog__body,.hgExam  .el-dialog__body{
  background:#f2f5f8!important;
}
.fuheti {
  .el-col span>p {
      margin: 0;
  }
}
// 弹框头 title
.hgExam .el-dialog__title{
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 5px;
    height: 1em;
    background: #04a9f5;
    position: absolute;
    top: 0;
    left: -20px;
  }

}

.text-primary{
  color: #04a9f5 !important;;
}



body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}


.swal-footer {
  text-align: center;
}
// theme-bg2
.theme-bg2 {
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
  font-size: 26px!important;
}
// 试题预览

.ylImg{
  width:9.375rem;height:7.5rem;
}

//滚动条样式
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px #f8f8f8;

  background: #ababab;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px #f8f8f8;
  border-radius: 10px;
  background: #ededed;
}


.mySearch {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid #009cff;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

  .el-input .el-input__inner {
    //border-radius: 20px;
    border-color: transparent;
    font-size: 18px;
    &::-webkit-input-placeholder{
      font-size:18px!important;
    }
  }

  .el-input .el-input-group__append {
    padding: 0 36px;
    border-radius:20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #00afff;
    color:white;
    font-size: 18px;
  }
}
