.pcoded-header {
    z-index: 828;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    padding: 0;
    position: relative;
    top: 0;
    background: transparent;
    color: #3f4d67;
    width: calc(100% - 200px);
    margin-left: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .pcoded-header .m-header {
    display: none;
  }
  .pcoded-header .card .card-block, .card .card-body {
    padding: 30px 25px;
}
.card .card-block, .card .card-body {
  padding: 30px 25px;
}
  .pcoded-header .m-header .logo-dark,
  .pcoded-header .m-header .logo-thumb {
    display: none;
  }
  .pcoded-header .input-group {
    background: transparent;
  }
  .pcoded-header .input-group .input-group-text {
    margin-right: 0;
  }
  .pcoded-header .input-group {
    background: transparent;
  }
  .pcoded-header .input-group .input-group-text,
  .pcoded-header a,
  .pcoded-header dropdown-toggle {
    color: #3f4d67;
  }
  .pcoded-header .input-group .input-group-text:hover,
  .pcoded-header a:hover,
  .pcoded-header dropdown-toggle:hover {
    color: #04a9f5;
  }
  .pcoded-header #mobile-header {
    display: none;
  }
  .pcoded-header ul{
    list-style: none!important;
  }
  .pcoded-header .navbar-nav {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
  }
  .pcoded-header .navbar-nav > li {
    line-height: 50px;
    display: inline-block;
    padding: 0 12px;
  }
  .pcoded-header .navbar-nav > li .nav-link {
    padding: 0;
  }
  .pcoded-header .navbar-nav > li:first-child {
    padding-left: 25px;
  }
  .pcoded-header .navbar-nav > li:last-child {
    padding-right: 40px;
  }
  .pcoded-header .mr-auto .dropdown-menu {
    margin-left: -20px;
  }
  .pcoded-header .ml-auto {
    float: right;
  }
  .pcoded-header .ml-auto .dropdown-menu {
    margin-right: -20px;
  }
  .pcoded-header .main-search .input-group {
    border-radius: 20px;
    padding: 0;
  }
  .pcoded-header .main-search .input-group .form-control,
  .pcoded-header .main-search .input-group .input-group-text {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .pcoded-header .main-search .input-group .search-close {
    display: none;
  }
  .pcoded-header .main-search .input-group .search-btn {
    border-radius: 50%;
    padding: 0;
    background: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pcoded-header .main-search .input-group .form-control {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 0;
    font-size: 14px;
  }
  .pcoded-header .main-search .input-group .form-control:active, .pcoded-header .main-search .input-group .form-control:focus, .pcoded-header .main-search .input-group .form-control:hover,
  .pcoded-header .main-search .input-group .search-btn:active,
  .pcoded-header .main-search .input-group .search-btn:focus,
  .pcoded-header .main-search .input-group .search-btn:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pcoded-header .main-search.open .input-group {
    background: #fff;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 6px 12px -5px rgba(65, 76, 78, 0.08);
            box-shadow: 0 6px 12px -5px rgba(65, 76, 78, 0.08);
    padding: 5px 5px 5px 20px;
  }
  .pcoded-header .main-search.open .input-group .search-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pcoded-header .main-search.open .input-group .search-btn {
    padding: 5px;
    margin-left: 5px;
    background: #04a9f5;
    border-color: #04a9f5;
  }
  .pcoded-header .main-search.open .input-group .search-btn .input-group-text {
    color: #fff;
  }
  .pcoded-header .main-search.open .input-group .form-control {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 0;
  }
  .pcoded-header .main-search.open .input-group .form-control:active, .pcoded-header .main-search.open .input-group .form-control:focus, .pcoded-header .main-search.open .input-group .form-control:hover,
  .pcoded-header .main-search.open .input-group .search-btn:active,
  .pcoded-header .main-search.open .input-group .search-btn:focus,
  .pcoded-header .main-search.open .input-group .search-btn:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pcoded-header .dropdown .dropdown-toggle {
    line-height: 50px;
    display: inline-block;
    padding-right: 15px;
  }
  .pcoded-header .dropdown .dropdown-toggle:after {
    content: "\e842";
    font-family: 'feather';
    font-size: 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .pcoded-header .dropdown .dropdown-menu {
    position: absolute;
    border: none;
    margin-top: -6px;
    min-width: 290px;
  }
  .pcoded-header .dropdown .dropdown-menu.show:before {
    display: none;
  }
  .pcoded-header .dropdown .dropdown-menu li {
    line-height: 1.2;
  }
  .pcoded-header .dropdown .dropdown-menu li a {
    padding: 10px;
    font-size: 14px;
  }
  .pcoded-header .dropdown .dropdown-menu li.active a, .pcoded-header .dropdown .dropdown-menu li:active a, .pcoded-header .dropdown .dropdown-menu li:focus a, .pcoded-header .dropdown .dropdown-menu li:hover a {
    color: #888;
  }
  .pcoded-header .dropdown.show:before {
    content: "\63";
    font-family: "pct";
    position: absolute;
    left: -5px;
    top: 60px;
    z-index: 801;
    font-size: 40px;
    line-height: 0;
    color: #fff;
    text-shadow: 0 -2px 2px rgba(65, 76, 78, 0.12);
  }
  .pcoded-header .dropdown .notification {
    width: 350px;
    padding: 0;
    line-height: 1.4;
    overflow: hidden;
  }
  .pcoded-header .dropdown .notification .noti-head {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 20px;
  }
  .pcoded-header .dropdown .notification .noti-head a {
    text-decoration: underline;
    font-size: 13px;
  }
  .pcoded-header .dropdown .notification .noti-body {
    padding: 0;
  }
  .pcoded-header .dropdown .notification .noti-body img {
    width: 40px;
    margin-right: 20px;
  }
  .pcoded-header .dropdown .notification .noti-body li {
    padding: 15px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .pcoded-header .dropdown .notification .noti-body li.n-title {
    padding-bottom: 0;
  }
  .pcoded-header .dropdown .notification .noti-body li.n-title p {
    margin-bottom: 5px;
  }
  .pcoded-header .dropdown .notification .noti-body li.notification:hover {
    background: rgba(4, 169, 245, 0.1);
  }
  .pcoded-header .dropdown .notification .noti-body li p {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .pcoded-header .dropdown .notification .noti-body li p strong {
    color: #222;
  }
  .pcoded-header .dropdown .notification .noti-body li .n-time {
    font-size: 80%;
    float: right;
  }
  .pcoded-header .dropdown .notification .noti-footer {
    border-top: 1px solid #f1f1f1;
    padding: 15px 20px;
    text-align: center;
  }
  .pcoded-header .dropdown .notification .noti-footer a {
    text-decoration: underline;
    font-size: 13px;
  }
  .pcoded-header .dropdown .notification ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .pcoded-header .dropdown .notification ul li {
    padding: 20px 15px;
  }
  .pcoded-header .dropdown .profile-notification {
    padding: 0;
    line-height: 1.4;
    overflow: hidden;
  }
  .pcoded-header .dropdown .profile-notification .pro-head {
    color: #fff;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 15px;
    position: relative;
    background: #04a9f5;
  }
  .pcoded-header .dropdown .profile-notification .pro-head img {
    width: 40px;
    margin-right: 10px;
  }
  .pcoded-header .dropdown .profile-notification .pro-head .dud-logout {
    color: #fff;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pcoded-header .dropdown .profile-notification .pro-body {
    padding: 20px 0;
    margin-bottom: 0;
    list-style: none;
  }
  .pcoded-header .dropdown .profile-notification .pro-body li a {
    color: #888;
    font-size: 14px;
    padding: 10px 20px;
  }
  .pcoded-header .dropdown .profile-notification .pro-body li a i {
    margin-right: 10px;
  }
  .pcoded-header .dropdown .profile-notification .pro-body li.active, .pcoded-header .dropdown .profile-notification .pro-body li:active, .pcoded-header .dropdown .profile-notification .pro-body li:focus, .pcoded-header .dropdown .profile-notification .pro-body li:hover {
    background: rgba(4, 169, 245, 0.1);
  }
  .pcoded-header .dropdown .profile-notification .pro-body li.active > a, .pcoded-header .dropdown .profile-notification .pro-body li:active > a, .pcoded-header .dropdown .profile-notification .pro-body li:focus > a, .pcoded-header .dropdown .profile-notification .pro-body li:hover > a {
    background: transparent;
  }
  .pcoded-header .dropdown.drp-user.show:before {
    color: #04a9f5;
  }
  